<div class="row full">
  <div class="small-7 columns full">
    <div id="editor">int main() {
      return 0;
    }</div>
  </div>

  <div class="small-5 columns">

    <div class="row">
      <div class="large-12 columns">
        <h3>Entrada
          <textarea></textarea>
        </h3>
      </div>
      <button type="submit" class="button success right">Correr</button>
    </div>


    <div class="row">
      <div class="large-12 columns">
        <h3>Salida
          <textarea></textarea>
        </h3>
      </div>
    </div>

  </div>
</div>
