<div class="row full">
  <div class="small-7 columns full">
    <div id="editor"><%= @code.codigo %></div>
  </div>
  <div class="small-5 columns">
    <%= render 'form' %>
    <%= render 'submit' %>
  </div>
</div>
