<div class="row full">
  <div class="small-7 columns full">
    <div id="editor"><%= "#include <iostream>

using namespace std;
int main() {

  return 0;
}" %></div>
  </div>
  <div class="small-5 columns">
    <%= render 'form' %>
  </div>
</div>
